@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
.light {
	--bg: rgb(242, 235, 235);
	--wrapperBg: rgb(255, 255, 255);
	--screenBg: rgb(255, 255, 255);
	--screen1Text: rgb(147, 143, 143);
	--screen2Text: #333;
	--flagText: #fff;
	--btnColor: #333;
	--btnBg: rgba(254, 254, 254, 0.7);
	--btnHoverBg: rgb(242, 240, 240);
	--btnBoxBg: rgb(245, 239, 239);
	--wrapperShadow: 5px 5px 26px #c7c7c7, -5px -5px 26px #f9f9f9;
	--timeColor: #333;
}

.dark {
	--bg: #333;
	--wrapperBg: black;
	--screenBg: rgb(0, 0, 0);
	--screen1Text: rgb(168, 162, 162);
	--screen2Text: white;
	--flagText: white;
	--btnColor: rgb(216, 212, 212);
	--btnBg: rgb(12, 12, 12);
	--btnHoverBg: rgb(21, 21, 21);
	--btnBoxBg: rgb(15, 17, 24);
	--isBorder: none;
	--timeColor: rgb(236, 228, 228);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--bg);
}

.wrapper {
	background: var(--wrapperBg);
	max-width: 400px;
	height: 600px;
	border-radius: 10px;
	position: relative;
	box-shadow: var(--wrapperShadow);
}
.wrapper .time {
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 10px;
	color: var(--timeColor);
}

.screen {
	background: var(--screenBg);
	width: 100%;
	height: 35%;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	border-radius: 22px;
}
.screen div {
	margin-bottom: 2rem;
	color: var(--screen2Text);
	padding-right: 20px;
	font-size: 35px;
}
.screen1 {
	color: var(--screen1Text) !important;
	font-size: 20px !important;
	position: relative;
	overflow: none;
}
.screen2 {
	position: relative;
}
.screen span {
	font-size: 12px;
	bottom: -15px;
	margin-left: 5px;
	position: absolute;
	color: var(--flagText);
	background: green;
	padding: 0 10px;
}

.buttonBox {
	width: 100%;
	height: 65%;
	background: var(--btnBoxBg);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 10px;
	padding: 10px;
	padding-bottom: 20px;
	border: var(--isBorder);
}

.btn {
	color: var(--btnColor);
	background: var(--btnBg);
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
}
.btn:active,
.btn:hover {
	background: var(--btnHoverBg);
}

.sideBtns {
	color: rgb(217, 95, 95);
	font-size: 20px;
}
.topBtns {
	color: rgb(101, 216, 101);
}

.equalTo {
	color: red;
	grid-column: 3/5;
}
.wrapper .themeToggle {
}
.switch-container div {
	/* background-image: url("./Image//stars.webp"); */
	display: flex;
	width: 75px;
	height: 35px;
	justify-content: space-between;
	align-items: center;
	padding: 0 6px;
	border-radius: 50px;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 1px;
	z-index: 100;
	cursor: pointer;
}
.switch-container div i {
	font-size: 20px;
}
.switch-container div .fa-sun {
	color: gold;
	transition: 0.8s;
}
.switch-container div .fa-moon {
	color: #fff;
	transition: 0.8s;
}
.switch-container div .ball {
	display: none;
}
@media (max-width: 500px) {
	.wrapper {
		background: var(--wrapperBg);
		width: 100vw;
		height: 100vh;
		border-radius: 10px;
		position: relative;
		box-shadow: var(--wrapperShadow);
	}
}
