@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.wrapper {
	background: black;
	max-width: 400px;
	height: 600px;
	border-radius: 10px;
}

.screen {
	background: rgb(0, 0, 0);
	width: 100%;
	height: 40%;
	padding: 10px;
	border-radius: 10px;
}

.buttonBox {
	width: 100%;
	height: 60%;
	background: rgb(15, 17, 24);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 10px;
	padding: 10px;
	padding-bottom: 20px;
}

.btn {
	color: rgb(216, 212, 212);
	background: rgb(12, 12, 12);
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
}
.btn:hover {
	background: rgb(21, 21, 21);
}

.sideBtns {
	color: rgb(217, 95, 95);
	font-size: 20px;
}
.topBtns {
	color: rgb(101, 216, 101);
}

.equalTo {
	color: red;
	grid-column: 3/5;
}
.textarea {
	background-color: black;
	border: none;
	resize: none;
	color: white;
	outline: none;
	text-align: right;
	padding-right: 20px;
	padding-top: 50%;
}
